<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="overflow-y: auto;">
    <div id="background"></div>
    <img src="static/logo_home1.svg"></img>
    <div class="texte" style="margin-left: -30px; margin-right: -30px;">
        <h1>À propos</h1>
        <p>Cette application web est le résultat d'une collaboration entre une étudiante et un étudiant de <em>l'ESADHaR</em> et de <em>l'école 42 Le Havre</em> proposée dans le cadre du festival <strong>Normandie Impressionniste 2024</strong>.
        <br>
        <br>
        Inspirés par différents tableaux du mouvement impressionnisme du XIXème siècle comme ceux de <em>Pierre-Auguste Renoir</em> ou de <em>Claude Monet</em>, ainsi que par des artistes contemporains comme <em>Jacques Perconte</em> ou bien issus du mouvement <em>Glich Art</em> comme <em>Rosa Menkman</em>. Nous nous sommes intéressés aux thèmes du portrait, du reflet, du flou, de l'altérité et de la sensation d'inachevé.
        <br>
        Ainsi nous est venu l'idée d'une application web qui permet d'expérimenter un reflet altéré par des touches de couleurs comme dans les tableaux du XIXe siècle, mais en utilisant des outils numériques afin de créer une esthétique plus actuelle.
        <br>
        <br>
        Manon Fenêtre & Alex Derouineau
        </p>
    </div>
</body>
</html>
