<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="grid">
        <div class="grid-item">
            <img src="static/test1.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test2.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test1.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test1.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test1.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test2.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test1.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test2.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test1.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test2.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test1.jpg">
        </div>
        <div class="grid-item">
            <img src="static/test2.jpg">
        </div>
        
        <!-- Add more grid items here -->
    </div>
    <script src="gallery.js"></script>
</body>
</html>
